@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/template/css/style2.css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    body {
        background-image: url(/Content/templatePrinc/assets/img/fondo3.jpg);
    }

    .parrafo {
        color: white;
    }
</style>

<div class="container">
    <br />
    <br />
    <br />
    <br />
    <br />
    <table class="table table-responsive ">
        <thead>
           
            
        </thead>
        <tbody>
            <tr>
                
            </tr>
            <tr>
               
            </tr>
            <tr>
                
                <td><h2 class="parrafo">Sección Empresa</h2></td>

            </tr>
            <tr>
               
                <td>
                    <p class="lead parrafo">Desde aquí ud podrá tener acceso a las diferentes secciones que dependiendo su rol en la empresa, podrá acceder. </p>
                </td>
              
            </tr>
        </tbody>
    </table>
</div>








