
@{
    ViewBag.Title = "EdicionMarca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model TesisWeb.Models.clasesProducto.Marca
<link href="~/Content/template/css/style2.css" rel="stylesheet" />

<div class="container">
    <div class="row">

        <div class="col-md-3">
        </div>
        <div class="col-md-6  border p-3 form ">
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(x => x.IdMarca)
                <h2>Editar marca:</h2>
                <br />
           

                    <div class="form-group">
                        @Html.LabelFor(x => x.Descripcion)
                        @Html.TextBoxFor(x => x.Descripcion, htmlAttributes: new { @class = "form-control" })

                    </div>
                    <br />
                    <input type="submit" class="btn btn-primary" value="Editar" />
               
            }
        </div>

        <div class="col-md-3">
        </div>
    </div>


</div>
